<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javou.do</title>
</head>
<body>
    
    <header class="header">
        <nav class="nav">
            <a href="#" class="nav__logo">
                Javou.do
            </a>
            <a href="#" class="nav__login">
                Log In
            </a>
        </nav>
    </header>

    <main class="main">
        <section class="explanation">
            <h1 class="explanation__title">
                Task management for busy (or not) people.
            </h1>
            <h4 class="explanation__subtitle">
                Your life may become as easy as this code. Track all your activities using this very simple platform.
            </h4>
        </section>

        <section class="cause">
            <h3 class="cause__title">
                Eliminate notebooks!
            </h3>
            <h5 class="cause__subtitle">
                By using our app ypu help save little trees that would die to become your bullet journal. Let's save the planet together and automize our plans!
            </h5>
        </section>
    </main>

    <footer class="footer">

    </footer>
    
</body>
</html>