<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tandlesh Do</title>
</head>
<body>
    <main class="main">
        <section class="signUp">
            <div class="container">
                <form action="/user" method="post" class="signUp__form">
                    <label for="name" class="signUp__name--label">Name</label>
                    <input type="text" class="singUp__name" id="name">

                    <label for="email" class="signUp__email--label">Email</label>
                    <input type="email" class="singUp__email" id="email">

                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>